﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title - E4MVCVNEXPRESS</title>
</head>
<body>
    @RenderBody()
</body>
</html>
