﻿
@{
    ViewBag.Title = "Home-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="top-bar">
    <div class="main-bar">
        <div class="contact-left">
            <a> (012) 3456789(HN)</a>
            <a> (012) 3456789(HCM)</a>
            <button>Liên hệ quảng cáo</button>
            <button>Like</button>
            <button>Follow</button>
            <button>Youtube</button>
        </div>
        <div class="login-right">
            <button>Đăng nhập</button>
            <button>Đăng ký</button>
            <input placeholder="Tìm kiếm" />
        </div>
    </div>
</div>
<div class="main-container">
    <div class="banner-container">
        <center>
            <img src="~/Content/images/Logo_Vnexpress.png" width="250" height="137" />
            <img src="~/Content/images/banner-ads-1.png" width="430" height="137" />
            <img src="~/Content/images/banner-ads-2.png" width="440" height="137" />
        </center>
    </div>
</div>
<div class="top2-bar">
    <div class="main2-bar">
        <div class="contact">
            <button>Thời sự</button>
            <button>Thế giới</button>
            <button>Kinh doanh</button>
            <button>Giải trí</button>
            <button>Thể thao</button>
            <button>Pháp luật</button>
            <button>Giáo dục</button>
            <button>Sức khỏe</button>
            <button>Gia đình</button>
            <button>Du lịch</button>
            <button>Khoa học</button>
            <button>Số hóa</button>
            <button>Xe</button>
            <button>Cộng đồng</button>
            <button>Tâm sự</button>
            <button>Video</button>
            <button>Cười</button>
            <button>Rao vặt</button>
        </div>
    </div>
</div>
<div class="content">
    <div class="trangchu">
        <h3>Trang chủ</h3>
    </div>
</div>

